<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Edapt Current IDE Target" sequenceNumber="1704456619">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.ui.progress" version="0.0.0"/>
      <unit id="org.eclipse.pde.ui" version="0.0.0"/>
      <unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.rcp.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.platform" version="0.0.0"/>
      <unit id="org.eclipse.test.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.sat4j.pb" version="0.0.0"/>
      <unit id="org.sat4j.core" version="0.0.0"/>
      <unit id="org.eclipse.search.core" version="0.0.0"/>
      <repository location="http://download.eclipse.org/eclipse/updates/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.gwt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.oda.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.xcore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.all.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.oda.ecore.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.rap.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.mapping.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.doc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.doc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.oda.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.gwt.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.rap.common.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.oda.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.gwt.edit.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.rap.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.mapping.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.ecore.converter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.gwt.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.gwt.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.gwt.ecore.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.doc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.apache.log4j" version="1.2.25"/>
      <unit id="com.sun.jna" version="0.0.0"/>
      <unit id="com.sun.jna.platform" version="0.0.0"/>
      <unit id="org.hamcrest" version="0.0.0"/>
      <unit id="com.ibm.icu" version="0.0.0"/>
      <unit id="jakarta.annotation-api" version="0.0.0"/>
      <unit id="jakarta.inject.jakarta.inject-api" version="0.0.0"/>
      <unit id="org.apache.batik.css" version="0.0.0"/>
      <unit id="org.apache.batik.i18n" version="0.0.0"/>
      <unit id="org.apache.batik.util" version="0.0.0"/>
      <unit id="org.apache.batik.constants" version="0.0.0"/>
      <unit id="org.apache.xmlgraphics" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-R/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.jxpath" version="0.0.0"/>
      <unit id="javax.annotation" version="0.0.0"/>
      <unit id="javax.inject" version="0.0.0"/>
      <unit id="org.slf4j.api" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.w3c.dom.svg" version="0.0.0"/>
      <unit id="org.w3c.css.sac" version="0.0.0"/>
      <unit id="org.w3c.dom.smil" version="0.0.0"/>
      <unit id="org.w3c.dom.events" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito.mockito-core-hamcrest-modified" version="1.9.5"/>
      <unit id="org.objenesis" version="1.4.0"/>
      <repository location="https://download.eclipse.org/rt/rap/base-platforms/3.14/extra-dependencies/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.cdo.compare.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.doc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.migrator.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.server.db.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.server.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.server.lissome.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.server.mongodb.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.tests.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.derby.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.h2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.hsqldb.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.mysql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.oracle.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.db.postgresql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.doc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.tests.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.util.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.util.ui.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/emf/cdo/updates/releases/latest/"/>
    </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="BND" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.annotation</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.embedded-repo</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.util</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bndlib</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.repository</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.resolve</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bndtools</groupId>
				  <artifactId>org.bndtools.templates.template</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bndtools</groupId>
				  <artifactId>org.bndtools.templating</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true" label="OSGi"
			missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.annotation.versioning</artifactId>
					<version>1.1.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.annotation.bundle</artifactId>
					<version>2.0.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.cm</artifactId>
					<version>1.6.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.component.annotations</artifactId>
					<version>1.5.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.metatype.annotations</artifactId>
					<version>1.4.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.component</artifactId>
					<version>1.5.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.coordinator</artifactId>
					<version>1.0.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.device</artifactId>
					<version>1.1.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.event</artifactId>
					<version>1.4.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.http.whiteboard</artifactId>
					<version>1.1.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.http</artifactId>
					<version>1.2.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.log.stream</artifactId>
					<version>1.0.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.metatype</artifactId>
					<version>1.4.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.prefs</artifactId>
					<version>1.1.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.provisioning</artifactId>
					<version>1.2.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.upnp</artifactId>
					<version>1.2.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.useradmin</artifactId>
					<version>1.1.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.wireadmin</artifactId>
					<version>1.0.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.util.function</artifactId>
					<version>1.2.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.util.measurement</artifactId>
					<version>1.0.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.util.position</artifactId>
					<version>1.0.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.util.promise</artifactId>
					<version>1.3.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.util.pushstream</artifactId>
					<version>1.1.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.util.xml</artifactId>
					<version>1.0.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.repository</artifactId>
					<version>1.1.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.bouncycastle</groupId>
					<artifactId>bcpg-jdk18on</artifactId>
					<version>1.77</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.bouncycastle</groupId>
					<artifactId>bcprov-jdk18on</artifactId>
					<version>1.77</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>
