<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.editors.documentProviders">
     <provider
           class="org.eclipse.emf.edapt.history.presentation.util.SpecialDocumentProvider"
           id="org.eclipse.emf.edapt.history.editor.documentProvider"
           inputTypes="org.eclipse.emf.edapt.history.presentation.util.SpecialEditorInput">
     </provider>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
             <command
           categoryId="org.eclipse.emf.edapt"
           defaultHandler="org.eclipse.emf.edapt.history.presentation.TODELETE.GenerateMigratorHandler"
           id="org.eclipse.emf.edapt.GenerateMigrator"
           name="Generate Migrator">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt"
           defaultHandler="org.eclipse.emf.edapt.history.presentation.TODELETE.GenerateSpecialMigratorHandler"
           id="org.eclipse.emf.edapt.GenerateSpecialMigrator"
           name="Generate Special Migrator">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              id="org.eclipse.emf.edapt.menu"
              label="Edapt">
           <command
                 commandId="org.eclipse.emf.edapt.GenerateMigrator"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.history.reconstruction.oneHistory">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.GenerateSpecialMigrator"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.history.reconstruction.oneHistory">
                 </reference>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.emf.edapt.GenerateMigrator"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+G">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.emf.edapt.history.recorder.ui.GroovyStartup">
     </startup>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.emf.edapt"
           defaultHandler="org.eclipse.emf.edapt.history.instantiation.ui.RunScriptHandler"
           id="org.eclipse.emf.edapt.RunScript"
           name="Run Script">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt"
           defaultHandler="org.eclipse.emf.edapt.history.instantiation.ui.ImportMigratorHandler"
           id="org.eclipse.emf.edapt.ImportMigrator"
           name="Import Migrator">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:org.eclipse.emf.edapt.history.instantiation.view.operationsBrowser">
        <command
              commandId="org.eclipse.emf.edapt.RunScript"
              style="push">
        </command>
        <command
              commandId="org.eclipse.emf.edapt.ImportMigrator"
              style="push">
        </command>
     </menuContribution>
  </extension>

</plugin>
