<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2007, 2010 BMW Car IT, Technische Universitaet Muenchen, and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        BMW Car IT - Initial API and implementation
        Technische Universitaet Muenchen - Major refactoring and extension
 -->

<plugin>



  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.emf.edapt.cope.history.presentation.HistoryEditorID"
        name = "%_UI_HistoryEditor_label"
        icon = "icons/full/obj16/HistoryModelFile.gif"
        extensions = "history"
        class = "org.eclipse.emf.edapt.cope.history.presentation.HistoryEditor" 
        contributorClass="org.eclipse.emf.edapt.cope.history.presentation.HistoryActionBarContributor" >
       <contentTypeBinding
             contentTypeId="org.eclipse.emf.edapt.cope.history">
       </contentTypeBinding>
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.editors.documentProviders">
     <provider
           class="org.eclipse.emf.edapt.cope.history.presentation.util.SpecialDocumentProvider"
           id="org.eclipse.emf.edapt.cope.history.editor.documentProvider"
           inputTypes="org.eclipse.emf.edapt.cope.history.presentation.util.SpecialEditorInput">
     </provider>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="org.eclipse.emf.edapt.cope.view.category"
           name="COPE">
     </category>
     <view
           allowMultiple="false"
           category="org.eclipse.emf.edapt.cope.view.category"
           class="org.eclipse.emf.edapt.cope.history.presentation.ChangeDocumentationView"
           id="org.eclipse.emf.edapt.cope.history.presentation.ChangeDocumentationView"
           name="Change Documentation"
           restorable="true">
     </view>
     <view
           allowMultiple="false"
           category="org.eclipse.emf.edapt.cope.view.category"
           class="org.eclipse.emf.edapt.cope.history.presentation.ElementChangesView"
           id="org.eclipse.emf.edapt.cope.history.presentation.ElementChangesView"
           name="Element Changes"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.presentation.action.AttachMigrationHandler"
           id="org.eclipse.emf.edapt.cope.AttachMigration"
           name="Attach Custom Migration to Changes">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.presentation.action.FlattenMigrationHandler"
           id="org.eclipse.emf.edapt.cope.FlattenMigration"
           name="Flatten Custom Migration">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.presentation.action.EditMigrationHandler"
           id="org.eclipse.emf.edapt.cope.EditMigration"
           name="Edit Custom Migration">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.presentation.action.FlattenCompositeHandler"
           id="org.eclipse.emf.edapt.cope.FlattenComposite"
           name="Flatten Composite Change">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.presentation.action.CombineChangesHandler"
           id="org.eclipse.emf.edapt.cope.CombineChanges"
           name="Combine Changes to Composite Change">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.presentation.action.CheckBreakingHandler"
           id="org.eclipse.emf.edapt.cope.CheckBreaking"
           name="Check for Breaking Changes">
     </command>
     <category
           id="org.eclipse.emf.edapt.cope"
           name="COPE">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              id="org.eclipse.emf.edapt.cope.menu"
              label="COPE">
           <command
                 commandId="org.eclipse.emf.edapt.cope.AttachMigration"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="+">
                    </count>
                    <iterate
                          ifEmpty="false">
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.MigrateableChange">
                       </instanceof>
                    </iterate>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.edapt.cope.history.editor.subsequentChanges">
                    </test>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.FlattenMigration"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="1">
                    </count>
                    <iterate>
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.MigrationChange">
                       </instanceof>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.EditMigration"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="1">
                    </count>
                    <iterate>
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.MigrationChange">
                       </instanceof>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.FlattenComposite"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="1">
                    </count>
                    <iterate
                          ifEmpty="false">
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.CompositeChange">
                       </instanceof>
                       <test
                             forcePluginActivation="true"
                             property="org.eclipse.emf.edapt.cope.history.editor.containerIsRelease">
                       </test>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.CombineChanges"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="+">
                    </count>
                    <iterate
                          ifEmpty="false">
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.PrimitiveChange">
                       </instanceof>
                    </iterate>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.edapt.cope.history.editor.subsequentChanges">
                    </test>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.CheckBreaking"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="1">
                    </count>
                    <iterate>
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.History">
                       </instanceof>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.emf.edapt.cope.history.presentation.action.SubsequentChangesPropertyTester"
           id="org.eclipse.emf.edapt.cope.history.editor.subsequentChanges"
           namespace="org.eclipse.emf.edapt.cope.history.editor"
           properties="subsequentChanges"
           type="org.eclipse.jface.viewers.ISelection">
     </propertyTester>
     <propertyTester
           class="org.eclipse.emf.edapt.cope.history.presentation.action.ContainerIsReleasePropertyTester"
           id="org.eclipse.emf.edapt.cope.history.editor.containerIsRelease"
           namespace="org.eclipse.emf.edapt.cope.history.editor"
           properties="containerIsRelease"
           type="org.eclipse.emf.edapt.cope.history.Change">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.emf.edapt.cope.history.recorder.ui.RecorderStartup">
     </startup>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.emf.edapt.cope.history.recorder.ui.GroovyStartup">
     </startup>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.recorder.ui.AddResourceHandler"
           id="org.eclipse.emf.edapt.cope.AddResource"
           name="Add Metamodel to History">
     </command>
     <category
           id="org.eclipse.emf.edapt.cope"
           name="COPE">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              id="org.eclipse.emf.edapt.cope.menu"
              label="COPE">
           <command
                 commandId="org.eclipse.emf.edapt.cope.AddResource"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="1">
                    </count>
                    <iterate
                          ifEmpty="false">
                       <instanceof
                             value="org.eclipse.emf.ecore.resource.Resource">
                       </instanceof>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.eclipse.emf.edapt.cope.view.category"
           class="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ReconstructionView"
           id="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ReconstructionView"
           name="Reconstruction View">
     </view>
     <view
           category="org.eclipse.emf.edapt.cope.view.category"
           class="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ComparisonView"
           id="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ComparisonView"
           name="Comparison View">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.GenerateMigratorHandler"
           id="org.eclipse.emf.edapt.cope.GenerateMigrator"
           name="Generate Migrator">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.GenerateSpecialMigratorHandler"
           id="org.eclipse.emf.edapt.cope.GenerateSpecialMigrator"
           name="Generate Special Migrator">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.CheckIntegrityHandler"
           id="org.eclipse.emf.edapt.cope.CheckIntegrity"
           name="Check Integrity">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ShowReconstructionHandler"
           id="org.eclipse.emf.edapt.cope.ShowReconstruction"
           name="Show Reconstruction">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ReconstructHandler"
           id="org.eclipse.emf.edapt.cope.Reconstruct"
           name="Reconstruct">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.ReconstructWithHistoryHandler"
           id="org.eclipse.emf.edapt.cope.ReconstructWithHistory"
           name="Reconstruct with History">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.reconstruction.ui.CompareHandler"
           id="org.eclipse.emf.edapt.cope.Compare"
           name="Compare">
     </command>
     <category
           id="org.eclipse.emf.edapt.cope"
           name="COPE">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              id="org.eclipse.emf.edapt.cope.menu"
              label="COPE">
           <command
                 commandId="org.eclipse.emf.edapt.cope.GenerateMigrator"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.cope.history.reconstruction.oneHistory">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.GenerateSpecialMigrator"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.cope.history.reconstruction.oneHistory">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.CheckIntegrity"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.cope.history.reconstruction.oneHistory">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.ShowReconstruction"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.cope.history.reconstruction.changeOrRelease">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.Reconstruct"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.cope.history.reconstruction.changeOrRelease">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.ReconstructWithHistory"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.eclipse.emf.edapt.cope.history.reconstruction.changeOrRelease">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.Compare"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="+">
                    </count>
                    <iterate>
                       <or>
                          <instanceof
                                value="org.eclipse.emf.edapt.cope.history.Change">
                          </instanceof>
                          <instanceof
                                value="org.eclipse.emf.edapt.cope.history.Release">
                          </instanceof>
                       </or>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.eclipse.emf.edapt.cope.history.reconstruction.oneHistory">
        <with
              variable="selection">
           <count
                 value="1">
           </count>
           <iterate
                 ifEmpty="false">
              <adapt
                    type="org.eclipse.emf.edapt.cope.history.History">
              </adapt>
           </iterate>
        </with>
     </definition>
     <definition
           id="org.eclipse.emf.edapt.cope.history.reconstruction.changeOrRelease">
        <with
              variable="selection">
           <count
                 value="1">
           </count>
           <iterate>
              <or>
                 <instanceof
                       value="org.eclipse.emf.edapt.cope.history.Change">
                 </instanceof>
                 <instanceof
                       value="org.eclipse.emf.edapt.cope.history.Release">
                 </instanceof>
              </or>
           </iterate>
        </with>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.emf.edapt.cope.GenerateMigrator"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+G">
     </key>
     <key
           commandId="org.eclipse.emf.edapt.cope.CheckIntegrity"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+I">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           category="org.eclipse.emf.edapt.cope.view.category"
           class="org.eclipse.emf.edapt.cope.history.instantiation.ui.OperationBrowser"
           icon="platform:/plugin/org.eclipse.emf.edapt.cope.history.edit/icons/full/obj16/OperationInstance.gif"
           id="org.eclipse.emf.edapt.cope.history.instantiation.view.operationsBrowser"
           name="Operation Browser">
     </view>
     <view
           category="org.eclipse.emf.edapt.cope.view.category"
           class="org.eclipse.emf.edapt.cope.history.instantiation.ui.ConvergenceView"
           id="org.eclipse.emf.edapt.cope.history.instantiation.ui.ConvergenceView"
           name="Convergence View"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              id="org.eclipse.emf.edapt.cope.menu"
              label="COPE">
           <command
                 commandId="org.eclipse.emf.edapt.cope.Replace"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="+">
                    </count>
                    <iterate
                          ifEmpty="false">
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.PrimitiveChange">
                       </instanceof>
                    </iterate>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.edapt.cope.history.editor.subsequentChanges">
                    </test>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.edapt.cope.UndoChanges"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="selection">
                    <count
                          value="+">
                    </count>
                    <iterate
                          ifEmpty="false">
                       <instanceof
                             value="org.eclipse.emf.edapt.cope.history.Change">
                       </instanceof>
                    </iterate>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.edapt.cope.history.editor.subsequentChanges">
                    </test>
                 </with>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.ReplaceHandler"
           id="org.eclipse.emf.edapt.cope.Replace"
           name="Replace Primitive Changes with Operation">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.UndoChangesHandler"
           id="org.eclipse.emf.edapt.cope.UndoChanges"
           name="Undo Changes">
     </command>
     <category
           id="org.eclipse.emf.edapt.cope"
           name="COPE">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:org.eclipse.emf.edapt.cope.history.instantiation.view.operationsBrowser">
        <command
              commandId="org.eclipse.emf.edapt.cope.CreateHistory"
              style="push">
        </command>
        <command
              commandId="org.eclipse.emf.edapt.cope.RunScript"
              style="push">
        </command>
        <command
              commandId="org.eclipse.emf.edapt.cope.ImportMigrator"
              style="push">
        </command>
        <command
              commandId="org.eclipse.emf.edapt.cope.Release"
              style="push">
        </command>
        <command
              commandId="org.eclipse.emf.edapt.cope.Converge"
              style="push">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.CreateHistoryHandler"
           id="org.eclipse.emf.edapt.cope.CreateHistory"
           name="Create History">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.RunScriptHandler"
           id="org.eclipse.emf.edapt.cope.RunScript"
           name="Run Script">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.ImportMigratorHandler"
           id="org.eclipse.emf.edapt.cope.ImportMigrator"
           name="Import Migrator">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.ReleaseHandler"
           id="org.eclipse.emf.edapt.cope.Release"
           name="Release">
     </command>
     <command
           categoryId="org.eclipse.emf.edapt.cope"
           defaultHandler="org.eclipse.emf.edapt.cope.history.instantiation.ui.ConvergeHandler"
           id="org.eclipse.emf.edapt.cope.Converge"
           name="Converge">
     </command>
     <category
           id="org.eclipse.emf.edapt.cope"
           name="COPE">
     </category>
  </extension>
</plugin>
