<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.edapt.migrators2" name="Migrators" schema="schema/org.eclipse.emf.edapt.migrators2.exsd"/>
   <extension-point id="org.eclipse.emf.edapt.operations2" name="Coupled Operations" schema="schema/org.eclipse.emf.edapt.operations2.exsd"/>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/creation.declaration">
     </operations>
  </extension>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/replacement.declaration">
     </operations>
  </extension>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/delegation.declaration">
     </operations>
  </extension>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/generalization.declaration">
     </operations>
  </extension>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/inheritance.declaration">
     </operations>
  </extension>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/merge.declaration">
     </operations>
  </extension>
  <extension
        point="org.eclipse.emf.edapt.operations2">
     <operations
           declaration="operations/simple.declaration">
     </operations>
  </extension>
</plugin>
