<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.NewClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.NewReference">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.NewAttribute">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.DeleteFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.DeleteClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.CopyFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.DeletePackage">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.NewOppositeReference">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.NewGMFConstraint">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.DeleteFeature2">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.DeleteOppositeReference">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.creation.CreateEnumeration">
      </operation>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.ExtractClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.InlineClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.PartitionComposite">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.MoveFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.CollectFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.CombineFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.PropagateFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.ExtractExistingClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.ExtractAndGroupAttribute">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.FlattenHierarchy">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.delegation.UnfoldClass">
      </operation>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.GeneralizeReference">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.SpecializeSuperType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.RemoveSuperfluousSuperType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.RemoveSuperType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.GeneralizeSuperType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.SpecializeComposition">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.GeneralizeAttribute">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.SpecializeReferenceType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.generalization.SpecializeReference">
      </operation>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.ReplaceFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.ExtractSuperClass2">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.ExtractSuperClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.UseSuperClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.InlineSuperClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.PullFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.PushFeature">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.InlineSubClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.ExtractSubClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.ImitateSuperType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.PullOperation">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.inheritance.PushOperation">
      </operation>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.ReplaceClassBySibling">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.ReplaceClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.SplitStringAttribute">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.Merge">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.ReplaceLiteral">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.UniteReferences">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.PartitionReference">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.merge.ReplaceEnum">
      </operation>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.ReplaceIdentifierByReference">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.ReplaceInheritanceByDelegation">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.IntroduceReferenceClass">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.SubClassesToEnumeration">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.EnumerationToSubClasses">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.VolatileToOpposite">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.OperationToVolatile">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.NotChangeableToSuppressedSetVisibility">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.replacement.SuppressedSetVisibilityToNotChangeable">
      </operation>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations2">
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.Rename">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.ChangeAttributeType">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.MoveClassifier">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.MakeContainment">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.MakeAbstract">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.DropOpposite">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.DropContainment">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.Document">
      </operation>
      <operation
            class="org.eclipse.emf.edapt.migration.operations.simple.MakeFeatureVolatile">
      </operation>
   </extension>
</plugin>
